@{
    var car = (CarsModel)ViewBag.car;
}
<script src="./Ford Ranger Raptor black - Easyauctiondemo.com_files/saved_resource"></script>
<script src="./Ford Ranger Raptor black - Easyauctiondemo.com_files/checkout.js.download"></script>

<section class="item-detals" style="min-height: 100vh;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div id="custCarousel" class="carousel slide item-detls-slide" data-ride="carousel" align="center">
                    <!-- slides -->
                    @{
                        var index = 0;
                    }
                    <div class="carousel-inner">
                        @foreach (var img in car.images)
                        {

                            <div class="carousel-item @(index==0?"active":"")">  <a id="img_popup" href="#" data-toggle="modal" data-target="#myModal1" data-img="/assets/images/car_images/@img"><img src="~/assets/images/car_images/@img" class="d-block" alt=""></a> </div>
                            {
                                index++;
                            }
                        }
                    </div>
                    <!-- Thumbnails -->
                    <ol class="carousel-indicators list-inline">
                        @{
                            var index1 = 0;
                        }
                        @foreach (var img in car.images)
                        {
                            <li class="list-inline-item @(index1==0?"active":"")">
                                <a id="carousel-selector-0" class="selected" data-slide-to="@index1" data-target="#custCarousel"> <img src="~/assets/images/car_images/@img" class="img-fluid"> </a>
                            </li>
                            {
                                index1++;
                            }
                        }
                    </ol>
                </div>
            </div>
            <div class="col-sm-7 details-block">
                <div class="item-detls-right">
                    <h2>@car.title</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3> Start price: <span id="current_bid"><span class="ng-binding"></span><span class="h-init ng-valid ng-dirty" id="current_bid">R @car.price</span></span> </h3>
                        </div>
                        <div class="col-md-6">
                            <div class="auction-time text-center atimer other is-countdown" id="atimer" data-cdate="2022-09-09 13:43:32" data-sdate="2022-09-03 17:35:04" data-edate="2022-09-10 17:35:04" style="width: 100%;" data-endtime="1d 3h 51m 32s "><ul class="timer-list"><li><span>1</span>Days</li> <li><span>3</span>Hours</li> <li><span>44</span>Minutes</li> <li><span>26</span>Seconds</li></ul></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4">
                            <a class="bid-history-btn" href="#" data-toggle="modal" data-target="#bidhistory-modul" style="float: right;">Bid History</a>
                            <h5 class="bid-view"> 0 Bids </h5>
                        </div>
                        <div class="col-12" style="text-align: center;">
                            <a href="#" class="login-bid">Please login to bid.</a>
                        </div>
                        <div class="col-12" style="text-align: center;">
                        </div>
                        <div id="message" style="position:relative;margin: 10px; width: 100%;text-align: center;"> </div>
                        <div id="message1" style="position:relative;margin: 10px;width: 100%;text-align: center;"> </div>
                    </div>
                    <div class="information-tab">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        General  <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </button>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <table width="100%">
                                            <tbody>
          
                                                <tr>
                                                    <th scope="row">Year</th>
                                                    <td>@car.year</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Mileage</th>
                                                    <td>@car.mileage</td>
                                                </tr>
                                                 <tr>
                                                    <th scope="row">Engine</th>
                                                    <td>@car.engine</td>
                                                </tr>
                                                 <tr>
                                                    <th scope="row">Fuel</th>
                                                    <td>@car.fuel</td>
                                                </tr>
                                                 <tr>
                                                    <th scope="row">Transmission</th>
                                                    <td>@car.transmission</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Start date</th>
                                                    <td>September 3, 2022 5:35 pm</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">End date</th>
                                                    <td>September 10, 2022 5:35 pm</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Description <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>@car.description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade bid-info-popup" id="bid-info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">How does it work?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You place a bid on the item, you enter the max amount you are willing to pay for the item. If the item is $1.00 but you know it is worth $15 to you. You can put a bid of $15 on the item. The seller and other bidders do not know your maximum bid amount. Then our system places bids on your behalf starting with the next bid increment for the auction. The bid increment is the amount by which a bid will be raised each time the current bid is outdone. It is predetermined based on the current highest bid. See the increment table below. </p>
                <table class="table" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="col-status-border">ID</th>
                            <th>Min price</th>
                            <th>Max price</th>
                            <th>Bid increment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="">
                            <td class="text-center">
                                12
                            </td>
                            <td class="text-center">
                                0.01
                            </td>
                            <td class="text-center">
                                0.99
                            </td>
                            <td class="text-center">
                                0.05
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                13
                            </td>
                            <td class="text-center">
                                1
                            </td>
                            <td class="text-center">
                                4.99
                            </td>
                            <td class="text-center">
                                0.25
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                14
                            </td>
                            <td class="text-center">
                                5
                            </td>
                            <td class="text-center">
                                24.99
                            </td>
                            <td class="text-center">
                                0.5
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                15
                            </td>
                            <td class="text-center">
                                25
                            </td>
                            <td class="text-center">
                                99.99
                            </td>
                            <td class="text-center">
                                1
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                16
                            </td>
                            <td class="text-center">
                                100
                            </td>
                            <td class="text-center">
                                249.99
                            </td>
                            <td class="text-center">
                                2.5
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                17
                            </td>
                            <td class="text-center">
                                250
                            </td>
                            <td class="text-center">
                                499.99
                            </td>
                            <td class="text-center">
                                5
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                18
                            </td>
                            <td class="text-center">
                                500
                            </td>
                            <td class="text-center">
                                999.99
                            </td>
                            <td class="text-center">
                                10
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                19
                            </td>
                            <td class="text-center">
                                1000
                            </td>
                            <td class="text-center">
                                2499.99
                            </td>
                            <td class="text-center">
                                25
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                20
                            </td>
                            <td class="text-center">
                                2500
                            </td>
                            <td class="text-center">
                                4999.99
                            </td>
                            <td class="text-center">
                                50
                            </td>
                        </tr>
                        <tr id="">
                            <td class="text-center">
                                21
                            </td>
                            <td class="text-center">
                                5000
                            </td>
                            <td class="text-center">
                                99999999
                            </td>
                            <td class="text-center">
                                100
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#bid_me_auto').click(function() {
            var price = $('#bidAmountauto').val();
            var reserve_price = '999';
            var auto_bid = 1;
            var id_bidder = 0;
            var id_item = 32;
            var start_price = 89;
            var result = '';
            /*********************************************************************/
            var message_auto_bid = 'Auto bidding: We will bid the lowest possible bid for you and we will automatically increase your bid if someone else bids highter (max up to te bid entered below).';
            var alert_bid_success = 'Your bid was successful but we placed an auto bid for another user. Please review below.';
            var alert_bid_success1 = 'Your bid was successful. Thank you!';
            var alert_bid_success2 = 'Bid successful. You activated the sniper protection: we added time to the auction to allow other users to bid too.';

            //*******************************************************************/
            // check bid price
            if ((price == '') || (parseFloat(price) <= parseFloat(start_price))) {
                var alert_startprice = 'You cannot bid less than the current bid!';
                result += '<div class="result_error"><p>' + alert_startprice + '</p></div>';
                $('div #message').html(result);
            }
            // start bidding
            else {
                var url = 'https://easyauctiondemo.com/bid_ajax.php?price_bid=' + price + '&id_bidder=' + id_bidder + '&id_item=' + id_item;
                $.ajax({
                    type: "GET",
                    url: url,
                    dateType: "text",
                    success: function(data) {
                        var res = data.substr(4, 10);
                        if (data == 'successful' || res == 'successful' || data == 'successful1' || data == 'successful2' || res == 'successful2') {

                            result += '<div class="result_success " style="margin-bottom:10px;"><p>' + message_auto_bid + '</p></div>';

                            if (data == 'successful1' || data == 'successful2') {
                                $("#bb_now").css('display', 'none');
                                result += '<div class="result_success"><p>' + alert_bid_success1 + '</p></div>';
                                if (data == 'successful2') {
                                    result += '<div class="result_success1"><p>' + alert_bid_success + '</p></div>';
                                }
                            } else if (res == 'successful') {

                                result += '<div class="result_success1"><p>' + alert_bid_success2 + '</p></div>';
                                if (res == 'successful2') {
                                    result += '<div class="result_success1"><p>' + alert_bid_success + '</p></div>';
                                }
                            } else {
                                result += '<div class="result_success1"><p>' + alert_bid_success + '</p></div>';

                            }

                            $('div #message').html(result);
                            // send mail hightest bidder auto
                            var url1 = 'https://easyauctiondemo.com/mail_ajax.php?id_item=' + id_item + '&id_bidder=' + id_bidder;

                            $.ajax({
                                type: "GET",
                                url: url1,
                                success: function(data1) {

                                    console.log(data1);
                                }
                            });

                        } else {
                            result += '<div class="result_error"><p>' + data + '</p></div>';
                            $('div #message').html(result);
                        }
                        $('div #message').html(result);
                    }
                });

            }

        });
        $('#bid_me').click(function() {

            var price = $('#bidAmount').val();
            var reserve_price = '999';
            var auto_bid = 1;
            var id_bidder = 0;
            var id_item = 32;
            var start_price = 89;
            var result = '';
            /*********************************************************************/
            var message_auto_bid = 'Auto bidding: We will bid the lowest possible bid for you and we will automatically increase your bid if someone else bids highter (max up to te bid entered below).';
            var alert_bid_success = 'Your bid was successful but we placed an auto bid for another user. Please review below.';
            var alert_bid_success1 = 'Your bid was successful. Thank you!';
            var alert_bid_success2 = 'Bid successful. You activated the sniper protection: we added time to the auction to allow other users to bid too.';

            //*******************************************************************/
            // check bid price

            if ((price == '') || (parseFloat(price) <= parseFloat(start_price))) {

                var alert_startprice = 'You cannot bid less than the current bid!';
                result += '<div class="result_error"><p>' + alert_startprice + '</p></div>';
                $('div #message').html(result);

            }
            // start bidding
            else {

                var url = 'https://easyauctiondemo.com/bid_ajax.php?price_bid=' + price + '&id_bidder=' + id_bidder + '&id_item=' + id_item + '&fixed_bid=fixed_bid';
                //console.log(url);
                $.ajax({
                    type: "GET",
                    url: url,
                    dateType: "text",
                    success: function(data) {
                        //console.log(data);
                        var res = data.substr(4, 10);
                        if (data == 'successful' || res == 'successful' || data == 'successful1' || data == 'successful2' || res == 'successful2') {

                            if (data == 'successful1' || data == 'successful2') {
                                $("#bb_now").css('display', 'none');
                                result += '<div class="result_success"><p>' + alert_bid_success1 + '</p></div>';
                                if (data == 'successful2') {
                                    result += '<div class="result_success1"><p>' + alert_bid_success + '</p></div>';
                                }
                            } else if (res == 'successful') {

                                result += '<div class="result_success1"><p>' + alert_bid_success2 + '</p></div>';
                                if (res == 'successful2') {
                                    result += '<div class="result_success1"><p>' + alert_bid_success + '</p></div>';
                                }
                            } else {
                                result += '<div class="result_success1"><p>' + alert_bid_success + '</p></div>';

                            }

                            $('div #message').html(result);
                            // send mail hightest bidder auto
                            var url1 = 'https://easyauctiondemo.com/mail_ajax.php?id_item=' + id_item + '&id_bidder=' + id_bidder;

                            $.ajax({
                                type: "GET",
                                url: url1,
                                success: function(data1) {

                                }
                            });

                        } else {
                            result += '<div class="result_error"><p>' + data + '</p></div>';
                            $('div #message').html(result);
                        }
                        $('div #message').html(result);
                    }
                });

            }

        });
        setInterval(function() {
            var item_id = 32;

            var url = 'https://easyauctiondemo.com/bids_detail.php?item=' + item_id;

            $.ajax({
                type: "GET",
                url: url,
                dateType: "text",
                success: function(data) {
                    if (data != '0') {
                        var str = data.split('|||');
                        $('#load_page').empty();
                        $('#load_page').html(str[0]);
                        $('#current_bid').html(str[1]);
                        $('#curr_bid').html(str[2]);
                        $('#total_cost').html(str[3]);

                    }
                    if (data == '0') {
                        $(".auction-bid").css('display', 'none');

                    }

                }
            });

        }, 5000);





        var count_clicks = 0;
        $("#watch").click(function(e) {
            count_clicks++;


            var action = $(this).data('action');
            var user = 0;
            // console.log(user);
            if (user == 0) {
                alert('Please Login to use this feature');
                return false;
            }
            var url1 = 'https://easyauctiondemo.com/watch-ajax.php?item=' + '32' + '&user=' + '0' + '&action=' + action;
            $.ajax({
                type: "GET",
                url: url1,
                dateType: "text",
                success: function(data) {

                    if (data == 'success') {
                        window.location.href = "";
                    }
                    if (data == 'error') {
                        window.location.href = "";

                    }
                    if (data == 'empty') {
                        alert('Failed. Please try again.');
                        return false;
                    }
                }

            });

        });


    });
    $(document).on('click', '#img_popup', function(e) {
        console.log($(this).data('img'));
        $("#popup_img").html('<img src="' + $(this).data('img') + '" style="width:100%;" >');

    });

</script>

<div id="myModalbuynow" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p style="font-style: italic">Continue and pay with:</p>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bid-history-popup" id="bidhistory-modul" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">&gt;Bid History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bid-history">

                    <div class="row-fluid" style="margin-top: 15px;max-height:360px;overflow-y:auto;margin-top:10px;">
                        <ul class="list-group bid-list h-bid-history" id="load_page"></ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div id="myModal1" class="modal fade" role="dialog" style="    z-index: 99999;">
    <div class="modal-dialog" style="max-width: 80%;">

        <!-- Modal content-->

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="popup_img">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var timeout_counter;
    function populateTimers() {
        $('div.atimer').each(function() {
            var item_id = $(this).attr("data-id");
            var id = "#" + this.id;
            var element = $(this);
            var data = JSON.parse('{ "name": "John" }');
            data.client_date = $(this).data('cdate');
            data.start_time = $(this).data('sdate');
            data.end_time = $(this).data('edate');
            console.log(data.start_time);
            var datenow = data.client_date;
            var year_server = datenow.substring(0, 4);
            var month_server = datenow.substring(5, 7);
            var day_server = datenow.substring(8, 10);
            var hours_server = datenow.substring(11, 13);
            var minute_server = datenow.substring(14, 16);
            var second_server = datenow.substring(17, 19);
            var clientTimeStamp = new Date(year_server, month_server - 1, day_server, hours_server, minute_server, second_server);
            element.countdown('destroy');
            if (data.start_time != null) {
                var year_server = data.start_time.substring(0, 4);
                var month_server = data.start_time.substring(5, 7);
                var day_server = data.start_time.substring(8, 10);
                var hours_server = data.start_time.substring(11, 13);
                var minute_server = data.start_time.substring(14, 16);
                var second_server = data.start_time.substring(17, 19);
                var start_time = new Date(year_server, month_server - 1, day_server, hours_server, minute_server, second_server);
                start_time = Date.parse(start_time) / 1000;
                var year_server = data.end_time.substring(0, 4);
                var month_server = data.end_time.substring(5, 7);
                var day_server = data.end_time.substring(8, 10);
                var hours_server = data.end_time.substring(11, 13);
                var minute_server = data.end_time.substring(14, 16);
                var second_server = data.end_time.substring(17, 19);
                var end_time = new Date(year_server, month_server - 1, day_server, hours_server, minute_server, second_server);
                end_time = Date.parse(end_time) / 1000;
                //console.log(Date.parse(clientTimeStamp)/1000+'/'+end_time);
                start_time = Date.parse(clientTimeStamp) / 1000 - start_time;
                end_time = end_time - Date.parse(clientTimeStamp) / 1000;
                //console.log(clientTimeStamp);
                if (start_time > 0 && end_time > 0) {
                    end_time = getEndTime(end_time);
                    element.attr('data-endtime', end_time);
                    element.html('<span><strong>' + end_time + '</strong></span>');
                    element.countdown({
                        until: end_time,
                        serverSync: clientTimeStamp,
                        compact: true,
                        significant: 4,
                        layout: '<ul class="timer-list">{d<}<li><span>{dn}</span>Days</li> {d>}{h<}<li><span>{hn}</span>Hours</li> {h>}{m<}<li><span>{mnn}</span>Minutes</li> {m>}{s<}<li><span>{snn}</span>Seconds</li>{s>}</span>',
                        expiryText: '<span><li>Closed Auction</li></ul>'
                    });
                } else if (start_time < 0) {
                    start_time = (-1) * start_time;
                    start_time = getEndTime(start_time);
                    element.attr('data-endtime', start_time);
                    element.html('<span><strong>' + start_time + '</strong></span>');
                    if (element.hasClass('newother')) {
                        element.countdown({
                            until: start_time,
                            serverSync: clientTimeStamp,
                            compact: true,
                            significant: 4,
                            layout: '<ul class="timer-list">Upcoming in {d<}<li><span>{dn}</span>Days</li> {d>}{h<}<li><span>{hn}</span>Hours</li> {h>}</span>',
                            expiryText: '<span><li>Open Auctions</<li></ul>',
                            onExpiry: function() {
                                populateTimers();
                            }
                        });
                    } else {
                        element.countdown({
                            until: start_time,
                            serverSync: clientTimeStamp,
                            compact: true,
                            significant: 4,
                            layout: '<ul class="timer-list">Upcoming in {d<}<li><span>{dn}</span>Days</li> {d>}{h<}<li><span>{hn}</span>Hours</li> {h>}{m<}<li><span>{mnn}</span>Minutes</li> {m>}</span>',
                            expiryText: '<span><li>Open Auctions</li></ul>',
                            onExpiry: function() {
                                populateTimers();
                            }
                        });
                    }
                } else {
                    element.html('<span><li>Closed Auction</li></span>');
                    $('.auction-bid').hide();
                }
            } else {
                //element.html('<span><strong>Fixed Price</strong></span>');
                //element.hide();
            }

        });
        if (timeout_counter)
            clearTimeout(timeout_counter);
        // timeout_counter = setTimeout(function(){populateTimers()}, 5000);
    }
    function getEndTime(ends) {
        // get ending time
        var difference = ends;
        var showendtime = false;
        var has_ended = false;
        if (difference > 0) {
            var ending_time = '';
            var d = 0;
            var days_difference = parseInt(difference / 86400);
            if (days_difference > 0) {
                ending_time = ending_time + days_difference + 'd ';
                d++;
            }
            difference = difference % 86400;
            var hours_difference = parseInt(difference / 3600);
            if (hours_difference > 0) {
                ending_time = ending_time + hours_difference + 'h ';
                d++;
            }
            difference = difference % 3600;
            var minutes_difference = parseInt(difference / 60);
            var seconds_difference = difference % 60;
            if (minutes_difference > 0) {
                ending_time = ending_time + minutes_difference + 'm ';
                d++;
            }
            if (seconds_difference > 0) {
                ending_time = ending_time + seconds_difference + 's ';
            }
            showendtime = true;
        } else {
            ending_time = 0;
            has_ended = true;
        }
        return ending_time;
    }
    $(function() {
        populateTimers();

    });


</script>